.title {
  text-align:center;
}

.full{
    height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
}

.content-forecast {
  max-width: 800px;
  
}

div {
  display: flex;  
  flex: 50%;
  padding: 10px;
  border-radius: 10px;
}


.outlook {
  display: flex;
  flex-direction: column;
  color: black;
  background: rgba(0,0,0,0.1);
}

.temp {
  display: flex;
  background: lightblue;
  color: black;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast {
  display: flex;
  color: black;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
}

.big-text {
  font-size: 40px;
}

.medium-text {
  font-size: 20px;
}

.image {
  height: 80px;
}
